<div id="form_wrapper">
  <%= form_with url: pages_show_path, local: false, method: :get do |f| %>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Breed name (e.g. Beagle or Chow):</label>
      <%= f.text_field :breed, class: "form-control", id: "exampleFormControlInput1" %>
    </div>

    <div class="col-auto">
      <%= f.submit "Submit breed", data: { disable_with: "Loading..." }, class: "btn btn-primary mb-3 button" %>
    </div>
  <% end %>
</div>

<div id="breed_images"></div>
